body{
font-family:sans-serif;
text-align:center;
background:#eef;
}

button{
padding:15px;
margin:10px;
font-size:18px;
border-radius:10px;
border:none;
background:#ff4444;
color:white;
}

.screen{
display:none;
}

.active{
display:block;
}
